
@{
    ViewBag.Title = "UserGroup";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    DBProject.Models.Properties.UserRightAccess userright = Model.UserRightAccess;
    DBProject.Models.M_USER_GROUP data = Model.DataObject;
}

@if (Model.Method == "list")
{
    <div class="box">
    <div class="box-header with-border">
       @if (userright.Allow_Add)
       {
        <div class="form-group"></div>
        <a href="#" class="btn btn-primary " id="btnAdd"><i class="fa fa-plus"></i> Add User Group</a>
        <div class="form-group"></div>
       }
        <table id="UserGroup_table" class="table table-bordered table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Group ID</th>
                    <th>Group Name</th>
                </tr>
            </thead>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $("#btnAdd").click(function (e) {
                e.preventDefault();
                window.location.href = "@Model.SetWebUrl("/UserManagement/UserGroup/add")";
            });
            var columndefs = [];
            var columns = [];
            columndefs = [{
                "targets": 0,
                "orderable": false,
                "data": "Action",
                "render": function (data, type, full, meta) {
                    var str = "";
                    //str = str + '<a href="/' + modul + '/' + submodul + '/edit/' + full.ID + '" data-modul="' + submodul + '" data-action="edit" class="btn btn-xs default"><i class="fa fa-edit"></i> Edit</a>';// + '<a  href="/' + modul + '/' + submodul + '/void/' + full.ID + '"   data-action="void" data-modul="' + submodul + '"  data-id="' + full.id + '" class="btn btn-xs default"><i class="fa fa-trash-o"></i> Void</a>';
                    @if(Model.UserRightAccess.Allow_Edit) {
                            @:str = str + '<a href="@Model.SetWebUrl("/UserManagement/UserGroup/edit/")' + full.Group_ID + '" data -modul="UserGroup" data-action="edit" class="btn btn-xs default"><i class="fa fa-edit"></i> Edit</a>';// + '<a  href="/' + modul + '/' + submodul + '/void/' + full.ID + '"   data-action="void" data-modul="' + submodul + '"  data-id="' + full.id + '" class="btn btn-xs default"><i class="fa fa-trash-o"></i> Void</a>';
                    }
                    @if(Model.UserRightAccess.Allow_Delete) {
                            @:str = str + '<a href="@Model.SetWebUrl("/UserManagement/UserGroup/delete/")' + full.Group_ID + '" data -modul="UserGroup" data-action="delete" class="btn btn-xs default"><i class="fa fa-eraser"></i> Delete</a>';// + '<a  href="/' + modul + '/' + submodul + '/void/' + full.ID + '"   data-action="void" data-modul="' + submodul + '"  data-id="' + full.id + '" class="btn btn-xs default"><i class="fa fa-trash-o"></i> Void</a>';
                    }
                    //return '' + '<a href="/' + modul + '/' + submodul + '/edit/' + full.ID + '" data-modul="' + submodul + '" data-action="edit" class="btn btn-xs default"><i class="fa fa-edit"></i> Edit</a>';// + '<a  href="/' + modul + '/' + submodul + '/void/' + full.ID + '"   data-action="void" data-modul="' + submodul + '"  data-id="' + full.id + '" class="btn btn-xs default"><i class="fa fa-trash-o"></i> Void</a>'
                    return str;
                }
            }];
            columns = [
                { "data": "Action" },
                { "data": "Group_ID" },
                { "data": "Group_Name" },
            ];
            DataTableJS.CreateDataTables2("@Model.WebRoot","UserManagement", "UserGroup", 0, "", false, columndefs, columns);
        });
    </script></div>
}
else
{<div class="box">
    <div class="box-header">
        @if (data.Group_ID == "")
        {
        <label>Add User Group</label>
        }
        else
        {
            <label>Edit User Group</label>
        }
    </div>
    <div class="box-body">
        <form id="Form1" method="post" action="@Model.SetWebUrl("/UserManagement/UserGroup")" class="form-horizontal" role="form" enctype="multipart/form-data">
            @*<input type="hidden" name="ID" value="@data.Group_ID" id="Group_ID" />*@
            <div class="form-group"></div>
            <div class="row">
                <div class="col-md-2"><label for="Code">Group ID * :</label></div>
                <div class="col-md-10"><input type="text" class="form-control" name="Group_ID" value="@data.Group_ID" id="Group_ID" required="required" style="width:300px" /></div>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group"></div>
            <div class="row">
                <div class="col-md-2"><label for="Name">Group Name * :</label></div>
                <div class="col-md-10"><input type="text" class="form-control" name="Group_Name" value="@data.Group_Name" id="Group_Name" required="required" style="width:350px" /></div>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group"></div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <button type="submit" class="btn btn-primary" id="FormSave">Save</button>
                    <button type="button" class="btn btn-primary" id="FormClose">Close</button>
                </div>
            </div>
        </form>
        <script>
        $(document).ready(function () {
            $("#FormClose").click(function () {
                window.location.href = "@Model.SetWebUrl("/UserManagement/UserGroup")";
            });
        });
        </script> 
    </div></div>
}

